---
import Hero from "../../components/about/Hero";
import Vision from "../../components/about/Vision";
import History from "../../components/about/History";
import Values from "../../components/about/Values";
import Team from "../../components/about/Team";
import Achievements from "../../components/about/Achievements";
import Partners from "../../components/about/Partners";
import Culture from "../../components/about/Culture";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div class="min-h-screen">
        <Hero client:load/>
        <Vision client:load/>
        <History client:load/>
        <Values client:load/>
        <Team client:load/>
        <Achievements client:load/>
        <Culture client:load/>
        <Partners client:load/>
      </div>
</Layout>