---
import Layout from "../../layouts/Layout.astro";
import ServicesHero from "../../components/services/ServicesHero";
import ServicesList from "../../components/services/ServicesList";
import ServicesPricing from "../../components/services/ServicesPricing";
import ServicesProcess from "../../components/services/ServicesProcess";
import ServicesCTA from "../../components/services/ServicesCTA";
import {ScrollToTop} from '../../components/ScrollToTop'
---

<Layout>
    <div class="min-h-screen">
    <ServicesHero  client:load/>
      <ServicesList  client:load/>
      <ServicesProcess  client:load/>
      <ServicesPricing  client:load/>
      <ServicesCTA client:load />
      <ScrollToTop client:load/>
    </div>
</Layout>