---
import Navbar from '../components/Navbar'
import Footer from '../components/Footer'
import WhatsAppButton from '../components/WhatsAppButton' // Importa el botón React
import '../assets/styles/tailwind.css';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>HBYR</title>
  </head>
  <body>
    <Navbar client:visible />
    <slot />
    <Footer />
    <WhatsAppButton client:load /> <!-- Botón flotante de WhatsApp -->
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
